PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Magic Link Authentication (non-custodial wallets)
# MAGIC_SECRET_KEY=your_magic_secret_key
PROGRAM_ID=2AknVcScKtfx9EE7mJ8zPohT1XEdP93c7HoqgCHpbHtu
MAGIC_SECRET_KEY=sk_live_CD8EFB128F6387F6
PUBLISHABLE_API_KEY=pk_live_B639A557404AAEE2
# Solana Configuration
https://devnet.helius-rpc.com/?api-key=7377d66a-a8f7-4ac1-9e78-921efd3c4717