PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Magic Link Authentication (non-custodial wallets)
MAGIC_SECRET_KEY=your_magic_secret_key

# Solana Configuration
RPC_URL=helius_rpc_Here
PROGRAM_ID=your_program_id
MAGIC_SECRET_KEY=magiclink_Secret_key_used_for_creating_magic/adminSDK_instance
PUBLISHABLE_API_KEY=publishable_api_key_used_for_creating_magic/clientSDK_instance